<div class="jumbotron text-center">
    <a href="/icecreams" class="btn btn-primary"> View ALL Ice Cream Flavors</a>
    <a href="/icecream/jawbreakers" class="btn btn-primary"> Jawbreaker</a>
</div>
