{{#if name}}

<h1>{{name}}</h1>
<ul>
    <li><strong>Price:</strong> ${{price}}</li>
    <li><strong>Awesomeness:</strong> {{awesomeness}}</li>
</ul>
{{else}}
    <h1>So sorry, but that flavor isn't available today!</h1>
{{/if}}
